.popup {
  position: fixed;
  background-color: rgba($color-grey-dark-3, 0.8);
  width: 100vw;
  z-index: 5000;
  top: 0;
  left: 0;
  bottom: 0;

  &__content {
    @include center;
    width: 80%;
    height: 40%;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
  }
}
